# .env.example
PORT=
NODE_ENV=
MONGO_URL=MONGO_URL=mongodb+srv://<username>:<password>@cluster0.xxx.mongodb.net/notes_db?retryWrites=true&w=majority

JWT_SECRET
FRONTEND_DOMAIN
CLOUDINARY_CLOUD_NAME 
CLOUDINARY_API_KEY 
CLOUDINARY_API_SECRET 

# brevo credentials

SMTP_PORT
SMTP_HOST
SMTP_USER
SMTP_PASSWORD 
SMTP_FROM